*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(255, 249, 213, 0.349);
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25dvh;
}
h1{
    text-align: center;
    font-size: 40px;
}
i{
    opacity: 0;
    padding-right: 10px;
    text-decoration: none !important;
}
i:hover{
    opacity: 1;
    cursor: pointer;
    background: rgba(0, 183, 255, 0.911);
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
    transition: 0.1s ease;
    padding-right: 10px;
    text-decoration:none !important;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    padding-top: 100px;
    justify-items: center;
    padding-left: 100px;
    padding-right: 100px;
}
.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    gap: 25px;
}
.tittle{
    background-color: red;
    width: 300px;
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    border: solid 1px inherit;
    border-radius: 9999px;   
}
.task-list{
    width: 300px;
    text-decoration: none;
    border-radius: 15px;
    min-height: 40dvh;
}
ul{
   list-style: none;
   padding-left: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   line-height: 25px;
}
li{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
}
li.checked span {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.514);
}
li i {
    color: inherit; 
    text-decoration: none;
}
#today{
    background-color: rgba(255, 88, 88, 0.788);
}
#tomorrow{
    background-color:  rgba(255, 255, 103, 0.568);
}
#time{
    background-color: rgba(182, 255, 87, 0.623);
}
#finished{
    background-color: rgba(79, 204, 253, 0.61);
}
.dropdown-container {
    position: relative;
    display: inline-block;
}
.options-container {
    display: none;
    position: absolute;
    min-width: 98px;
    z-index: 1;
    background-color: rgba(0, 183, 255, 0.911);
    border: 2px solid black;
    top: 105%;
    left: 25px;
    color: black;
}

#priorityButton, #deadlineButton{
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}
.options-container option{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 16px;
    cursor: pointer ;

}
.options-container option:hover{
    background-color: rgba(0, 117, 163, 0.911);
}
.dropdown:hover .options-container{
    display: block;
}

.input-bar{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 100dvw;
    gap: 15px;
    line-height: 30px;
}
.input-bar input{
    width: 400px;
    border: 2px solid rgba(0, 183, 255, 0.911);
}
button:hover{
    border: 2px solid black;
    cursor: pointer;
}
button{
    position: relative;
    height: 30px;
    min-width: 100px;
    border-radius: 9999px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid rgba(0, 183, 255, 0.911);
    background-color: rgba(0, 183, 255, 0.911);
}
#listSelectionDeadline #listSelectionPrior {
    position: relative;
}
.dropdown-container select {
    background-color: rgba(0, 183, 255, 0.911);
    color: black;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }